<li class="card">
    <div>
        <h3 class="card-title">{{ recipe.title }}</h3>
        <div class="card-content">
            {% if recipe.photos %}
            {% set photo = recipe.photos[0] %}
            <img class="card-image" src="{{ url_for('static', filename='photos/photo-' ~ photo.id ~ '.' ~ photo.file_extension) }}" width="300" height="200">
            {% endif %}
            <p>{{ recipe.description }}</p>
        </div>
    </div>
    <div class="card-link-wrapper">
        <!-- recipe_id_str = str(recipe) -->
        <a href="{{ url_for('main.recipe', recipe_id=recipe.id|string) }}" class="card-link">Learn More</a>
    </div>
</li>
