<body>
    {% extends 'base.html' %}

    {% block content %}
    <div class="recipe-container">
            <div class="recipe-header">
                <div class="left-half">
                    <div class="left-half-content">
                        <h1>{{ recipe.title }}</h1>
                        <p>By {{recipe.user.name}}</p>
                        <form action="{{ url_for('main.save_recipe_post', recipe_id=recipe.id) }}" method="POST" >
                            <button class="save-button" type="submit" name="save"><span></span>Save Recipe</button> 
                        </form>
                        <div class="rating-container">
                            <form id="ratingForm" action="{{ url_for('main.submit_rating_post', recipe_id=recipe.id) }}" method="POST">
                                <div class="rating">
                                    <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
                                    <label for="star5" >☆</label>
                                    <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
                                    <label for="star4" >☆</label>
                                    <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
                                    <label for="star3" >☆</label>
                                    <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
                                    <label for="star2" >☆</label>
                                    <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
                                    <label for="star1" >☆</label>
                                    <div class="clear"></div>
                                </div>
                            </form>
                            
                            <script>
                                const stars = document.querySelectorAll('.rating input[type="radio"]');
                                const ratingForm = document.getElementById('ratingForm');
                                const submittedRating = rating; // Accessing the 'rating' variable passed from Flask
                                stars.forEach(star => {
                                    star.addEventListener('click', function() {
                                        // Submit the form when a star is clicked
                                        ratingForm.submit();
                                    });
                                });
                                for (let i = 1; i <= 5; i++) {
                                    const star = document.getElementById(`star${i}`);
                                    if (i <= submittedRating) {
                                        star.checked = true;
                                    }
                                }
                            </script>
                          </div>
                    </div>
                </div>
                <div class="right-half">
                    <img class="info-page-img" src="{{ url_for('static', filename='../static/photos/photo-' ~ recipe.photos[0].id ~ '.jpg') }}" height="500">
                </div>
            </div>
            

            <div class="recipe-content">
                <div class="recipe-content-header">
                    <div class="recipe-content-heading">
                        <h2 id="recipe-content-title">{{recipe.title}}</h2>
                    </div>
                    <div class="recipe-content-details">
                        <div class="detail-items">
                            <div class="detail-items detail-item">
                                <span class="detail-item-label">Servings</span>
                                <span class="detail-item-value">{{ recipe.persons }}</span>
                                <span class="detail-item-units">serving(s)</span>
                            </div>
                            <div class="detail-items detail-item">
                                <span class="detail-item-label">Time</span>
                                <span class="detail-item-value">{{ recipe.time // 60 }}</span>
                                <span class="detail-item-units">minute(s)</span>
                            </div>
                            <div class="detail-items detail-item">
                                <span class="detail-item-label">Servings</span>
                                <span class="detail-item-value">{{ recipe.persons }}</span>
                                <span class="detail-item-units">serving(s)</span>
                            </div>
                        </div>
                        <p class="recipe-content-summary">{{ recipe.description }}</p>
                    </div>
                </div>
                
                <div class="recipe-content-ingredients">
                    <h2 class="ingredients-title">Ingredients</h2>

                    <div class="ingredients-list">
                        {% for ingredient in recipe.q_ingredients %}
                            <div class="ingredient-item">
                                <input class="form-check-input" type="checkbox" value="{{ ingredient.id }}" id="flexCheck{{ loop.index }}">
                                <label class="form-check-label" for="flexCheck{{ loop.index }}">
                                    {{ ingredient.ingredient.name }} {{ ingredient.quantity }} {{ ingredient.units }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="recipe-content-instructions">
                    <h2 class="instructions-title">Instructions</h2>
                    <ul class="instructions-list">
                        {% for step in recipe.steps %}
                        <li class="instructions-item">
                            <div class="instruction-text">
                                <span>{{ step.text }}</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="recipe-comments">
                <h2 class="comments-title">Leave a Comment</h2>
                <!-- insert form here -->
            </div>

    </div>
    {% endblock %}
</body>