:root {
    --red: #ef233c;
    --darkred: #c00424;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #52637A;
    --thumb: #edf2f4;
    --base-beige: #ebeae3;
    --base-white: #f8f7f4;
    --accent-dark-green: #38524f;
    --accent-light-green: #d8e1cc;
    --accent-sage-green: #38514f;
}

body {
    height: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
    background-color: var(--base-beige);
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: var(--accent-dark-green);
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content p .form-content label {
    color: var(--accent-sage-green);
    text-align: left;
    font-weight: 400;
    line-height: 20px;
}

.form-content input[type=text] .form-content input[type=number] {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
    border-color: var(--accent-dark-green);
}

.btn-primary{
    background-color: var(--accent-sage-green);
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: var(--accent-dark-green);
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

#index-body {
    background-color: grey !important;
}