body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: --base-beige;;
}

main {
    flex: 1
}

footer {
    margin-top: auto; /* Push footer to the bottom */
}

header {
    background-color: var(--base-beige);
    color: var(--accent-dark-green);
    padding: 1rem;
    text-align: center;
    border: 10px !important;
    border-color: var(--accent-sage-green) !important;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

nav a {
    color: var(--accent-sage-green);
    text-decoration: none;
}

nav a:hover {
    text-decoration: solid;
}

main {
    padding: 2rem;
}

article {
    margin-bottom: 2rem;
}

article h3 {
    margin-bottom: 0.5rem;
}

article p {
    margin-top: 0.5rem;
}

main {
  margin: 0;
  padding: 0;
}

.content {
  justify-content: center;
  max-width: 100%;
  padding: 20px; /* Adjust padding as needed */
  margin: 0 auto;
  box-sizing: border-box;
  overflow: auto; /* Enable vertical and horizontal scrollbars if content overflows */
}

#newsletter {
    padding: 2rem;
    text-align: center;
}

#newsletter form {
    display: inline-block;
}

#newsletter input[type="email"] {
    padding: 0.5rem;
    margin-right: 0.5rem;
}

#newsletter button {
    background-color: #333;
    color: #52637A;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#newsletter button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #52637A;
    padding: 1rem;
    text-align: center;
}

/* card UI */
  
:root {
    --red: #ef233c;
    --darkred: #c00424;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #52637A;
    --thumb: #edf2f4;
    --base-beige: #ebeae3;
    --base-white: #f8f7f4;
    --accent-dark-green: #38524f;
    --accent-light-green: #d8e1cc;
    --accent-muted-light-green: #d8e1cc54;
    --accent-sage-green: #38514f;
  }
  
  .container {
    width: 100%;
    overflow: hidden; /* Prevents horizontal overflow */
    /* padding-left: 30px; */
  }
  
  h2 {
    font-size: 32px;
    margin-bottom: 1em;
  }
  
  .cards {
    display: flex;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--accent-dark-green);
    border-radius: 12px;
    box-shadow: 0 5px 15px var(--accent-muted-light-green);
    scroll-snap-align: start;
    transition: all 0.2s;
  }
  
  
  .card:not(:last-child) {
    margin-right: 10px;
  }
  
  .card:hover {
    color: var(--white);
    background: var(--accent-sage-green);
  }
  
  .card .card-title {
    font-size: 20px;
    color: var(--base-beige);
  }
  
  .card .card-content {
    margin: 20px 0;
    max-width: 85%;
  }

  .card-content p {
    color: var(--accent-light-green);
  }
  
  .card .card-link-wrapper {
    margin-top: auto;
  }
  
  .card .card-link {
    display: inline-block;
    text-decoration: none;
    color: var(--accent-sage-green);
    background: var(--accent-light-green);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
  }
  
  .card:hover .card-link {
    background: var(--accent-muted-light-green);
  }
  
  .cards::-webkit-scrollbar {
    display: none;
  }
  
  .cards::-webkit-scrollbar-thumb,
  .cards::-webkit-scrollbar-track {
    display: none;
  }
  
  .cards::-webkit-scrollbar-thumb {
    display: none;
  }
  
  .cards::-webkit-scrollbar-track {
    display: none;
  }
  
  @media (min-width: 500px) {
    .card {
      flex-basis: calc(50% - 10px);
    }
  
    .card:not(:last-child) {
      margin-right: 20px;
    }
  }
  
  @media (min-width: 700px) {
    .card {
      flex-basis: calc(calc(100% / 3) - 20px);
    }
  
    .card:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  @media (min-width: 1100px) {
    .card {
      flex-basis: calc(25% - 30px);
    }
  
    .card:not(:last-child) {
      margin-right: 40px;
    }
  }
  


#index-body {
  background-color: var(--base-white);
  padding: 2%;
  margin-top: 2%;
}

/* recipe info page styles */


.recipe-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.comments-container {
  margin: 60px 0px;
}

.recipe-header {
  display: flex;
  width: 100vw;
  height: 700px; /* Set the height as desired */
  margin: 0;
  padding: 0;
  justify-content: center;
  border: 1px solid var(--accent-sage-green); 
}

/* Style the left half */
.left-half {
  flex: 1;
  padding: 20px;
  justify-content: center;
}

.right-half {
  flex: 1;
  padding: 0px;
}

.info-page-img {
  width: 100%; /* Ensures image takes up entire width of the container */
  height: 100%; /* Ensures image takes up entire height of the container */
  object-fit: cover; /* Crops the image to fill its container */
}

.left-half-content {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100%; /* Occupy full height */
}

/* Style for the button */
.save-button {
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size */
  background-color: var(--accent-sage-green); /* Green background color */
  color: var(--base-white); /* White text color */
  border: none; /* No border */
  cursor: pointer; /* Show pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for color change */
}

/* Hover effect */
.save-button:hover {
  background-color: var(--accent-light-green); /* Darker green on hover */
  color: var(--base-white); /* White text color */
}

.recipe-content {
  margin-top: 100px;
  justify-content: center;
  width: 70%;
  border: 2px solid var(--base-beige);
  border-radius: 20px;
}

.recipe-content-header {
  background: var(--accent-sage-green);
  color: var(--base-beige);
  border-radius: 20px;
  position: relative;
  margin: 0 0;
  padding: 25px 25px;
  text-align: left;
}

.recipe-content-heading {
  margin-bottom: 15px;
}

.recipe-content-title {
  font-size: 30px;
  font-weight: 600;
  font-family: inherit;
  margin: 0 0 10px;
}

.recipe-content-details {
  margin-bottom: 15px;
  clear: both;
  display: flex;
  flex-direction: column;
}

.detail-items {
  /* font-size: 0; */
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  /* flex-wrap: wrap; */
}

.detail-items .detail-item {
  flex: 1 0 25%;
  padding: 10px 1.5%;
  position: relative;
  box-sizing: border-box;
  border-right: 1px dashed var(--accent-muted-light-green);
  border-bottom: 1px dashed var(--accent-muted-light-green);
  border-left: 1px dashed var(--accent-muted-light-green);
  border-top: 1px dashed var(--accent-muted-light-green);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.detail-item-label {
  display: block;
}

.detail-item-value,
.detail-item-units {
  display: inline-block;
  line-height: 2;
}

.recipe-content-ingredients {
  background: var(--base-beige);
  color: var(--accent-sage-green);
  position: relative;
  margin: 20px 20px;
  padding: 25px 25px;
  text-align: left;
}

.ingredients-title {
  font-size: 22px;
  font-weight: 600;
  color: var(--accent-sage-green);
  margin: 0 0 20px;
  padding: 0;
  background-color: transparent;
}

.ingredients-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ingredients-list .ingredient-item {
  border-color: #c5cfb4;
  list-style: none;
  padding: 0 0 13px;
  margin: 0 0 13px;
  border-bottom: 1px dashed var(--accent-sage-green);
  position: relative;
  line-height: 1.7;
}

.recipe-content-instructions {
  background: var(--base-white);
  color: var(--accent-sage-green);
  border-radius: 0px;
  position: relative;
  margin: 0 0 30px;
  padding: 25px 25px 5px;
  text-align: left;
}

.instructions-title {
  font-size: 22px;
  font-weight: 600;
  color: var(--accent-sage-green);
  margin: 0 0 20px;
  padding: 0;
  background-color: transparent;
}


.instructions-list {
  counter-reset: li;
  /* margin: 0;
  padding: 0; */
}

.instructions-list>li {
  position: relative;
  margin-top: 10px;
  list-style-position: outside;
  font-size: 1em;
  margin: 0 0 0 32px;
  padding: 0;
  margin-bottom: 20px;
  list-style-type: none;
}

 ul.instructions-list li::before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -32px;
  width: 24px;
  height: 24px;
  background: var(--wp--preset--color--senary);
  border-radius: 50%;
  color: var(--wp--preset--color--foreground);
  font-size: var(--wp--preset--font-size--tiny);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.instructions-text>span {
  font-size: 1em;
  display: block;
}

.instructions-item {
  display: flex;
  align-items: center; /* Vertically align items */
}

/* .instructions-text {
  font-size: 1em;
} */