body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #F6F6F5;
}

main {
    flex: 1
}

footer {
    margin-top: auto; /* Push footer to the bottom */
}

header {
    background-color: #E7E5E0;
    color: #52637A;
    padding: 1rem;
    text-align: center;
    border: 10px !important;
    border-color: #52637A !important;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

nav a {
    color: #52637A;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

article {
    margin-bottom: 2rem;
}

article h3 {
    margin-bottom: 0.5rem;
}

article p {
    margin-top: 0.5rem;
}

#newsletter {
    padding: 2rem;
    text-align: center;
}

#newsletter form {
    display: inline-block;
}

#newsletter input[type="email"] {
    padding: 0.5rem;
    margin-right: 0.5rem;
}

#newsletter button {
    background-color: #333;
    color: #52637A;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#newsletter button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #52637A;
    padding: 1rem;
    text-align: center;
}

/* card UI */
  
:root {
    --red: #ef233c;
    --darkred: #c00424;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #52637A;
    --thumb: #edf2f4;
  }
  
  .container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 32px;
    margin-bottom: 1em;
  }
  
  .cards {
    display: flex;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 20px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
  }
  
  .card:not(:last-child) {
    margin-right: 10px;
  }
  
  .card:hover {
    color: var(--white);
    background: var(--red);
  }
  
  .card .card-title {
    font-size: 20px;
  }
  
  .card .card-content {
    margin: 20px 0;
    max-width: 85%;
  }
  
  .card .card-link-wrapper {
    margin-top: auto;
  }
  
  .card .card-link {
    display: inline-block;
    text-decoration: none;
    color: #52637A;
    background: var(--red);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
  }
  
  .card:hover .card-link {
    background: var(--darkred);
  }
  
  .cards::-webkit-scrollbar {
    display: none;
  }
  
  .cards::-webkit-scrollbar-thumb,
  .cards::-webkit-scrollbar-track {
    display: none;
  }
  
  .cards::-webkit-scrollbar-thumb {
    display: none;
  }
  
  .cards::-webkit-scrollbar-track {
    display: none;
  }
  
  @media (min-width: 500px) {
    .card {
      flex-basis: calc(50% - 10px);
    }
  
    .card:not(:last-child) {
      margin-right: 20px;
    }
  }
  
  @media (min-width: 700px) {
    .card {
      flex-basis: calc(calc(100% / 3) - 20px);
    }
  
    .card:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  @media (min-width: 1100px) {
    .card {
      flex-basis: calc(25% - 30px);
    }
  
    .card:not(:last-child) {
      margin-right: 40px;
    }
  }
  


#index-body {
  background-color: #E7E5E0;
  padding: 2%;
  margin-top: 2%;
  border-radius: 3%;
}